Source: libnss-cm4all-logname
Section: admin
Priority: optional
Maintainer: Max Kellermann <max.kellermann@ionos.com>
Build-Depends: debhelper (>= 13.3~),
 meson (>= 0.56)
Standards-Version: 4.0.0
Vcs-Browser: https://github.com/CM4all/nss_logname
Vcs-Git: git://github.com/CM4all/nss_logname

Package: libnss-cm4all-logname
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: NSS module which synthesizes a passwd entry from $LOGNAME
 This Glibc NSS module pretends there is a passwd entry for the
 current uid named $LOGNAME.
